*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
}
li {
  list-style: none;
}
:root {
  --text-color: #ca9f06;
  --text-content-color: #eee;
  --text-warning-color: #973838;
  --header-text-color: #0d0d0d;
  --main-color: #151322;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #0d0e0f;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1193px;
  margin: 0 auto;
}
.menu__top {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0 14px;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 65px;
  background: #151322;
  border: 1px solid #0d0d0d;
  box-shadow: 0 0 5px #000;
}
.burger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 36px;
  height: 44px;
  cursor: pointer;
  z-index: 3;
}
.burger > span,
.burger > span::before,
.burger > span::after {
  display: block;
  width: 36px;
  height: 3px;
  background-color: var(--text-color);
  position: relative;
  z-index: 4;
}
.burger > span::before {
  content: "";
  top: 10px;
}
.burger > span::after {
  content: "";
  top: -13px;
}
.burger:active {
  top: 1px;
}
.header {
  width: 100%;
  height: 0;
  padding-bottom: 34%;
  background-image: url(../img/header.jpg);
  background-size: cover;
  border: 1px solid #0d0d0d;
  box-shadow: 0 0 5px #000;
}
.content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  min-height: 600px;
  background: #151322;
  border: 1px solid #0d0d0d;
  box-shadow: 0 0 5px #000;
}
.content__main {
  width: 70%;
  flex-grow: 1;
  padding: 14px;
}

.article h1 {
  font-size: calc(162.5% + (32 - 26) * (100vw - 700px) / (1192 - 700));
  text-align: center;
  color: var(--text-content-color);
}
.article h2 {
  font-size: calc(150% + (30 - 24) * (100vw - 700px) / (1192 - 700));
  margin-top: 14px;
  text-align: center;
  color: var(--text-content-color);
}
.article h3 {
  font-size: calc(137.5% + (28 - 22) * (100vw - 700px) / (1192 - 700));
  margin-top: 14px;
  text-align: center;
  color: var(--text-content-color);
}
.article p {
  color: var(--text-content-color);
  margin-top: 14px;
}
.content__image {
  display: block;
  width: 80%;
  margin: 14px auto;
  box-shadow: 0 0 5px #000;
}
.section__list {
  font-weight: 500;
  margin-top: 14px;
}
.section__list li + li {
  margin-top: 4px;
}
.section__sublist {
  margin-left: 14px;
}
.section__list a {
  color: var(--text-color);
}
.section__list a:hover {
  text-decoration: underline;
}
.section__list .download-color {
  color: #8cff02;
}
.content__left {
  /* width: 30%; */
  padding: 14px 7px 14px 0;
}
.menu {
  position: sticky;
  top: 14px;
  border-left: 4px solid var(--text-color);
  padding: 14px 0 14px 14px;
  margin-top: 14px;
}
.menu li + li {
  margin-top: 14px;
}
.menu__item {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
}
.content__left .menu__popup {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  display: flex;
  justify-content: flex-end;
  text-align: right;
  border-left: none;
  border-right: 4px solid var(--text-color);
}
.menu__button {
  position: relative;
  color: var(--text-color);
  padding: 6px 12px;
  border-radius: 4px;
  border: 2px solid var(--text-color);
  font-size: 18px;
  font-weight: 500;
}
.menu__button:active {
  top: 1px;
}
.link_animation::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.2s ease-out 0.3s;
}
.link_animation:hover::after {
  width: 100%;
  transition-delay: 0s;
}
.download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  margin: 28px 0;
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  width: 280px;
  height: 100px;
  border-radius: 8px;
  background: #6ab025;
  color: var(--header-text-color);
  box-shadow: 0 0 4px #000, #164d1a 0 0 40px inset;
  transition: box-shadow 0.2s ease-out;
}
.download__button:hover {
  box-shadow: 0 0 3px #36372f, #206425 0 0 40px inset;
}
.download__description {
  display: flex;
  align-items: flex-start;
  width: 50%;
  min-height: 72px;
  flex-direction: column;
  padding: 14px;
  margin-left: 14px;
}
.download__description p {
  color: var(--text-warning-color);
  font-weight: 500;
  margin: 0;
}
.download__description a {
  margin-top: 14px;
  color: var(--text-color);
}
.download__description a:hover {
  text-decoration: underline;
}
.comments {
}
.comments h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: var(--text-color);
}
