*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
}
li {
  list-style: none;
}
:root {
  --text-color: #ffc702;
  --text-content-color: #eee;
  --header-text-color: #0d0d0d;
  --main-color: #1d2526;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #051014;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1193px;
  margin: 0 auto;
}
.header {
  position: relative;
  width: 100%;
  border: 1px solid #0d0d0d;
  box-shadow: 0 0 5px #000;
  box-sizing: border-box;
}
.header::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    105.16% 105.16% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.59) 72.02%
  );
}
.header__text {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 2;
}
.header__text h1 {
  font-size: 32px;
}
.header__text p {
  font-size: 14px;
  margin-top: 8px;
  width: 60%;
}
.header__banner {
  display: block;
  width: 100%;
}
.content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  min-height: 600px;
  background: #1d2526;
  border: 1px solid #0d0d0d;
  box-shadow: 0 0 5px #000;
  box-sizing: border-box;
}
.content__main {
  width: 70%;
  padding: 14px;
}
.content__main h1 {
  font-size: 32px;
  text-align: center;
  color: var(--text-content-color);
}
.section__list {
  font-weight: 500;
  /* padding: 14px; */
  /* margin: 14px 14px 0 0; */
}
.section__list li + li {
  margin-top: 4px;
}
.section__sublist {
  margin-left: 14px;
}
.section__list a {
  color: var(--text-color);
  text-decoration: underline;
}
.section__list a:hover {
  text-decoration: none;
}
.section__list .download-color {
  color: #8cff02;
}
.content__main p {
  color: var(--text-content-color);
  margin-top: 14px;
}
.content__image {
  display: block;
  width: 80%;
  margin: 14px auto;
}
.content__left {
  width: 30%;
  padding: 14px;
}
.menu {
  border-left: 4px solid var(--text-color);
  padding: 14px;
  margin-top: 14px;
}
.menu li + li {
  margin-top: 14px;
}
.menu__item {
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
}
