@media only screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
  .menu__top {
    display: flex;
  }
  .menu__item {
    margin-right: 14px;
  }
  .content__left {
    padding: 0;
  }
  .post__text-con p {
    font-size: 16px;
    font-size: calc(87.5% + (16 - 14) * (100vw - 700px) / (1024 - 700));
  }
}
@media only screen and (max-width: 700px) {
  .header {
    padding-bottom: 50%;
  }
  .download {
    flex-direction: column;
    align-items: flex-start;
  }
  .download__description {
    width: 100%;
    margin-left: 0;
    padding: 14px 0;
  }
  .article p,
  .article h2,
  .article h3 {
    margin-top: 7px;
  }
  .section__list {
    font-size: 15px;
  }
  .article p {
    font-size: 15px;
  }
  .content__image {
    width: 94%;
    margin: 14px auto;
  }
  .download {
    margin: 14px 0;
  }
  .download__description {
    padding: 7px 0;
  }
  .download__description a {
    margin-top: 7px;
  }
  .post__title-link {
    margin: auto;
  }
  .post__content {
    flex-direction: column-reverse;
  }
  .post__img-con {
    width: 70%;
    align-self: center;
  }
  .post__text-con {
    width: 100%;
    margin-top: 7px;
  }
  .post__details {
    justify-content: flex-end;
  }
  .post__views {
    margin-left: 7px;
    align-self: flex-start;
  }
  .post__comments {
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1192px) {
  .article h1 {
    font-size: 32px;
  }
  .article h2 {
    font-size: 30px;
  }
  .article h3 {
    font-size: 28px;
  }
  .post h2 {
    font-size: 28px;
  }
  .cat__description h1 {
    font-size: 32px;
  }
  .post__text-con p {
    font-size: 16px;
  }
}
