:root {
  --text-color: #ca9f06;
  --text-content-color: #eee;
  --text-warning-color: #973838;
  --header-text-color: #0d0d0d;
  --main-color: #1d2526;
}
@media only screen and (max-width: 1024px) {
}
